# coding: utf-8

"""
    Foreman (params in:formData)

     <p>Foreman API v2 is currently the default API version.</p>   # noqa: E501

    OpenAPI spec version: v2

    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from pyforeman.api_client import ApiClient


class MailNotificationsApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def delete_users_user_id_mail_notifications_mail_notification_id(
        self, user_id, mail_notification_id, **kwargs
    ):  # noqa: E501
        """Remove an email notification for a user  # noqa: E501

          # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_users_user_id_mail_notifications_mail_notification_id(user_id, mail_notification_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str user_id: (required)
        :param float mail_notification_id: (required)
        :param float location_id: Set the current location context for the request
        :param float organization_id: Set the current organization context for the request
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs["_return_http_data_only"] = True
        if kwargs.get("async_req"):
            return self.delete_users_user_id_mail_notifications_mail_notification_id_with_http_info(
                user_id, mail_notification_id, **kwargs
            )  # noqa: E501
        else:
            (
                data
            ) = self.delete_users_user_id_mail_notifications_mail_notification_id_with_http_info(
                user_id, mail_notification_id, **kwargs
            )  # noqa: E501
            return data

    def delete_users_user_id_mail_notifications_mail_notification_id_with_http_info(
        self, user_id, mail_notification_id, **kwargs
    ):  # noqa: E501
        """Remove an email notification for a user  # noqa: E501

          # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_users_user_id_mail_notifications_mail_notification_id_with_http_info(user_id, mail_notification_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str user_id: (required)
        :param float mail_notification_id: (required)
        :param float location_id: Set the current location context for the request
        :param float organization_id: Set the current organization context for the request
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = [
            "user_id",
            "mail_notification_id",
            "location_id",
            "organization_id",
        ]  # noqa: E501
        all_params.append("async_req")
        all_params.append("_return_http_data_only")
        all_params.append("_preload_content")
        all_params.append("_request_timeout")

        params = locals()
        for key, val in six.iteritems(params["kwargs"]):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_users_user_id_mail_notifications_mail_notification_id"
                    % key
                )
            params[key] = val
        del params["kwargs"]
        # verify the required parameter 'user_id' is set
        if self.api_client.client_side_validation and (
            "user_id" not in params or params["user_id"] is None
        ):  # noqa: E501
            raise ValueError(
                "Missing the required parameter `user_id` when calling `delete_users_user_id_mail_notifications_mail_notification_id`"
            )  # noqa: E501
        # verify the required parameter 'mail_notification_id' is set
        if self.api_client.client_side_validation and (
            "mail_notification_id" not in params
            or params["mail_notification_id"] is None
        ):  # noqa: E501
            raise ValueError(
                "Missing the required parameter `mail_notification_id` when calling `delete_users_user_id_mail_notifications_mail_notification_id`"
            )  # noqa: E501

        collection_formats = {}

        path_params = {}
        if "user_id" in params:
            path_params["user_id"] = params["user_id"]  # noqa: E501
        if "mail_notification_id" in params:
            path_params["mail_notification_id"] = params[
                "mail_notification_id"
            ]  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}
        if "location_id" in params:
            form_params.append(("location_id", params["location_id"]))  # noqa: E501
        if "organization_id" in params:
            form_params.append(
                ("organization_id", params["organization_id"])
            )  # noqa: E501

        body_params = None
        # HTTP header `Content-Type`
        header_params[
            "Content-Type"
        ] = self.api_client.select_header_content_type(  # noqa: E501
            ["application/x-www-form-urlencoded", "multipart/form-data"]
        )  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            "/users/{user_id}/mail_notifications/{mail_notification_id}",
            "DELETE",
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get("async_req"),
            _return_http_data_only=params.get("_return_http_data_only"),
            _preload_content=params.get("_preload_content", True),
            _request_timeout=params.get("_request_timeout"),
            collection_formats=collection_formats,
        )

    def get_mail_notifications(self, **kwargs):  # noqa: E501
        """List of email notifications  # noqa: E501

          # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_mail_notifications(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param float location_id: Set the current location context for the request
        :param float organization_id: Set the current organization context for the request
        :param str search: filter results
        :param str order: Sort and order by a searchable field, e.g. '<field> DESC'
        :param float page: Page number, starting at 1
        :param str per_page: Number of results per page to return, 'all' to return all results
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs["_return_http_data_only"] = True
        if kwargs.get("async_req"):
            return self.get_mail_notifications_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.get_mail_notifications_with_http_info(**kwargs)  # noqa: E501
            return data

    def get_mail_notifications_with_http_info(self, **kwargs):  # noqa: E501
        """List of email notifications  # noqa: E501

          # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_mail_notifications_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param float location_id: Set the current location context for the request
        :param float organization_id: Set the current organization context for the request
        :param str search: filter results
        :param str order: Sort and order by a searchable field, e.g. '<field> DESC'
        :param float page: Page number, starting at 1
        :param str per_page: Number of results per page to return, 'all' to return all results
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = [
            "location_id",
            "organization_id",
            "search",
            "order",
            "page",
            "per_page",
        ]  # noqa: E501
        all_params.append("async_req")
        all_params.append("_return_http_data_only")
        all_params.append("_preload_content")
        all_params.append("_request_timeout")

        params = locals()
        for key, val in six.iteritems(params["kwargs"]):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_mail_notifications" % key
                )
            params[key] = val
        del params["kwargs"]

        collection_formats = {}

        path_params = {}

        query_params = []
        if "location_id" in params:
            query_params.append(("location_id", params["location_id"]))  # noqa: E501
        if "organization_id" in params:
            query_params.append(
                ("organization_id", params["organization_id"])
            )  # noqa: E501
        if "search" in params:
            query_params.append(("search", params["search"]))  # noqa: E501
        if "order" in params:
            query_params.append(("order", params["order"]))  # noqa: E501
        if "page" in params:
            query_params.append(("page", params["page"]))  # noqa: E501
        if "per_page" in params:
            query_params.append(("per_page", params["per_page"]))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Content-Type`
        header_params[
            "Content-Type"
        ] = self.api_client.select_header_content_type(  # noqa: E501
            ["application/x-www-form-urlencoded", "multipart/form-data"]
        )  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            "/mail_notifications",
            "GET",
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get("async_req"),
            _return_http_data_only=params.get("_return_http_data_only"),
            _preload_content=params.get("_preload_content", True),
            _request_timeout=params.get("_request_timeout"),
            collection_formats=collection_formats,
        )

    def get_mail_notifications_id(self, id, **kwargs):  # noqa: E501
        """Show an email notification  # noqa: E501

          # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_mail_notifications_id(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: Numerical ID or email notification name (required)
        :param float location_id: Set the current location context for the request
        :param float organization_id: Set the current organization context for the request
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs["_return_http_data_only"] = True
        if kwargs.get("async_req"):
            return self.get_mail_notifications_id_with_http_info(
                id, **kwargs
            )  # noqa: E501
        else:
            (data) = self.get_mail_notifications_id_with_http_info(
                id, **kwargs
            )  # noqa: E501
            return data

    def get_mail_notifications_id_with_http_info(self, id, **kwargs):  # noqa: E501
        """Show an email notification  # noqa: E501

          # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_mail_notifications_id_with_http_info(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: Numerical ID or email notification name (required)
        :param float location_id: Set the current location context for the request
        :param float organization_id: Set the current organization context for the request
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ["id", "location_id", "organization_id"]  # noqa: E501
        all_params.append("async_req")
        all_params.append("_return_http_data_only")
        all_params.append("_preload_content")
        all_params.append("_request_timeout")

        params = locals()
        for key, val in six.iteritems(params["kwargs"]):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_mail_notifications_id" % key
                )
            params[key] = val
        del params["kwargs"]
        # verify the required parameter 'id' is set
        if self.api_client.client_side_validation and (
            "id" not in params or params["id"] is None
        ):  # noqa: E501
            raise ValueError(
                "Missing the required parameter `id` when calling `get_mail_notifications_id`"
            )  # noqa: E501

        collection_formats = {}

        path_params = {}
        if "id" in params:
            path_params["id"] = params["id"]  # noqa: E501

        query_params = []
        if "location_id" in params:
            query_params.append(("location_id", params["location_id"]))  # noqa: E501
        if "organization_id" in params:
            query_params.append(
                ("organization_id", params["organization_id"])
            )  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Content-Type`
        header_params[
            "Content-Type"
        ] = self.api_client.select_header_content_type(  # noqa: E501
            ["application/x-www-form-urlencoded", "multipart/form-data"]
        )  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            "/mail_notifications/{id}",
            "GET",
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get("async_req"),
            _return_http_data_only=params.get("_return_http_data_only"),
            _preload_content=params.get("_preload_content", True),
            _request_timeout=params.get("_request_timeout"),
            collection_formats=collection_formats,
        )

    def get_users_user_id_mail_notifications(self, user_id, **kwargs):  # noqa: E501
        """List all email notifications for a user  # noqa: E501

          # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_users_user_id_mail_notifications(user_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str user_id: (required)
        :param float location_id: Set the current location context for the request
        :param float organization_id: Set the current organization context for the request
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs["_return_http_data_only"] = True
        if kwargs.get("async_req"):
            return self.get_users_user_id_mail_notifications_with_http_info(
                user_id, **kwargs
            )  # noqa: E501
        else:
            (data) = self.get_users_user_id_mail_notifications_with_http_info(
                user_id, **kwargs
            )  # noqa: E501
            return data

    def get_users_user_id_mail_notifications_with_http_info(
        self, user_id, **kwargs
    ):  # noqa: E501
        """List all email notifications for a user  # noqa: E501

          # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_users_user_id_mail_notifications_with_http_info(user_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str user_id: (required)
        :param float location_id: Set the current location context for the request
        :param float organization_id: Set the current organization context for the request
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ["user_id", "location_id", "organization_id"]  # noqa: E501
        all_params.append("async_req")
        all_params.append("_return_http_data_only")
        all_params.append("_preload_content")
        all_params.append("_request_timeout")

        params = locals()
        for key, val in six.iteritems(params["kwargs"]):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_users_user_id_mail_notifications" % key
                )
            params[key] = val
        del params["kwargs"]
        # verify the required parameter 'user_id' is set
        if self.api_client.client_side_validation and (
            "user_id" not in params or params["user_id"] is None
        ):  # noqa: E501
            raise ValueError(
                "Missing the required parameter `user_id` when calling `get_users_user_id_mail_notifications`"
            )  # noqa: E501

        collection_formats = {}

        path_params = {}
        if "user_id" in params:
            path_params["user_id"] = params["user_id"]  # noqa: E501

        query_params = []
        if "location_id" in params:
            query_params.append(("location_id", params["location_id"]))  # noqa: E501
        if "organization_id" in params:
            query_params.append(
                ("organization_id", params["organization_id"])
            )  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Content-Type`
        header_params[
            "Content-Type"
        ] = self.api_client.select_header_content_type(  # noqa: E501
            ["application/x-www-form-urlencoded", "multipart/form-data"]
        )  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            "/users/{user_id}/mail_notifications",
            "GET",
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get("async_req"),
            _return_http_data_only=params.get("_return_http_data_only"),
            _preload_content=params.get("_preload_content", True),
            _request_timeout=params.get("_request_timeout"),
            collection_formats=collection_formats,
        )

    def post_users_user_id_mail_notifications(
        self, user_id, mail_notification_id, **kwargs
    ):  # noqa: E501
        """Add an email notification for a user  # noqa: E501

          # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.post_users_user_id_mail_notifications(user_id, mail_notification_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str user_id: (required)
        :param float mail_notification_id: (required)
        :param float location_id: Set the current location context for the request
        :param float organization_id: Set the current organization context for the request
        :param str interval: Mail notification interval option, e.g. Daily, Weekly or Monthly. Required for summary notification
        :param str subscription: Mail notification subscription option, e.g. Subscribe, Subscribe to my hosts or Subscribe to all hosts. Required for host built and config error state
        :param str mail_query: Relevant only for audit summary notification
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs["_return_http_data_only"] = True
        if kwargs.get("async_req"):
            return self.post_users_user_id_mail_notifications_with_http_info(
                user_id, mail_notification_id, **kwargs
            )  # noqa: E501
        else:
            (data) = self.post_users_user_id_mail_notifications_with_http_info(
                user_id, mail_notification_id, **kwargs
            )  # noqa: E501
            return data

    def post_users_user_id_mail_notifications_with_http_info(
        self, user_id, mail_notification_id, **kwargs
    ):  # noqa: E501
        """Add an email notification for a user  # noqa: E501

          # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.post_users_user_id_mail_notifications_with_http_info(user_id, mail_notification_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str user_id: (required)
        :param float mail_notification_id: (required)
        :param float location_id: Set the current location context for the request
        :param float organization_id: Set the current organization context for the request
        :param str interval: Mail notification interval option, e.g. Daily, Weekly or Monthly. Required for summary notification
        :param str subscription: Mail notification subscription option, e.g. Subscribe, Subscribe to my hosts or Subscribe to all hosts. Required for host built and config error state
        :param str mail_query: Relevant only for audit summary notification
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = [
            "user_id",
            "mail_notification_id",
            "location_id",
            "organization_id",
            "interval",
            "subscription",
            "mail_query",
        ]  # noqa: E501
        all_params.append("async_req")
        all_params.append("_return_http_data_only")
        all_params.append("_preload_content")
        all_params.append("_request_timeout")

        params = locals()
        for key, val in six.iteritems(params["kwargs"]):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method post_users_user_id_mail_notifications" % key
                )
            params[key] = val
        del params["kwargs"]
        # verify the required parameter 'user_id' is set
        if self.api_client.client_side_validation and (
            "user_id" not in params or params["user_id"] is None
        ):  # noqa: E501
            raise ValueError(
                "Missing the required parameter `user_id` when calling `post_users_user_id_mail_notifications`"
            )  # noqa: E501
        # verify the required parameter 'mail_notification_id' is set
        if self.api_client.client_side_validation and (
            "mail_notification_id" not in params
            or params["mail_notification_id"] is None
        ):  # noqa: E501
            raise ValueError(
                "Missing the required parameter `mail_notification_id` when calling `post_users_user_id_mail_notifications`"
            )  # noqa: E501

        collection_formats = {}

        path_params = {}
        if "user_id" in params:
            path_params["user_id"] = params["user_id"]  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}
        if "mail_notification_id" in params:
            form_params.append(
                ("mail_notification_id", params["mail_notification_id"])
            )  # noqa: E501
        if "location_id" in params:
            form_params.append(("location_id", params["location_id"]))  # noqa: E501
        if "organization_id" in params:
            form_params.append(
                ("organization_id", params["organization_id"])
            )  # noqa: E501
        if "interval" in params:
            form_params.append(("interval", params["interval"]))  # noqa: E501
        if "subscription" in params:
            form_params.append(("subscription", params["subscription"]))  # noqa: E501
        if "mail_query" in params:
            form_params.append(("mail_query", params["mail_query"]))  # noqa: E501

        body_params = None
        # HTTP header `Content-Type`
        header_params[
            "Content-Type"
        ] = self.api_client.select_header_content_type(  # noqa: E501
            ["application/x-www-form-urlencoded", "multipart/form-data"]
        )  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            "/users/{user_id}/mail_notifications",
            "POST",
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get("async_req"),
            _return_http_data_only=params.get("_return_http_data_only"),
            _preload_content=params.get("_preload_content", True),
            _request_timeout=params.get("_request_timeout"),
            collection_formats=collection_formats,
        )

    def put_users_user_id_mail_notifications_mail_notification_id(
        self, user_id, mail_notification_id, **kwargs
    ):  # noqa: E501
        """Update an email notification for a user  # noqa: E501

          # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.put_users_user_id_mail_notifications_mail_notification_id(user_id, mail_notification_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str user_id: (required)
        :param float mail_notification_id: (required)
        :param float location_id: Set the current location context for the request
        :param float organization_id: Set the current organization context for the request
        :param str interval: Mail notification interval option, e.g. Daily, Weekly or Monthly. Required for summary notification
        :param str subscription: Mail notification subscription option, e.g. Subscribe, Subscribe to my hosts or Subscribe to all hosts. Required for host built and config error state
        :param str mail_query: Relevant only for audit summary notification
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs["_return_http_data_only"] = True
        if kwargs.get("async_req"):
            return self.put_users_user_id_mail_notifications_mail_notification_id_with_http_info(
                user_id, mail_notification_id, **kwargs
            )  # noqa: E501
        else:
            (
                data
            ) = self.put_users_user_id_mail_notifications_mail_notification_id_with_http_info(
                user_id, mail_notification_id, **kwargs
            )  # noqa: E501
            return data

    def put_users_user_id_mail_notifications_mail_notification_id_with_http_info(
        self, user_id, mail_notification_id, **kwargs
    ):  # noqa: E501
        """Update an email notification for a user  # noqa: E501

          # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.put_users_user_id_mail_notifications_mail_notification_id_with_http_info(user_id, mail_notification_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str user_id: (required)
        :param float mail_notification_id: (required)
        :param float location_id: Set the current location context for the request
        :param float organization_id: Set the current organization context for the request
        :param str interval: Mail notification interval option, e.g. Daily, Weekly or Monthly. Required for summary notification
        :param str subscription: Mail notification subscription option, e.g. Subscribe, Subscribe to my hosts or Subscribe to all hosts. Required for host built and config error state
        :param str mail_query: Relevant only for audit summary notification
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = [
            "user_id",
            "mail_notification_id",
            "location_id",
            "organization_id",
            "interval",
            "subscription",
            "mail_query",
        ]  # noqa: E501
        all_params.append("async_req")
        all_params.append("_return_http_data_only")
        all_params.append("_preload_content")
        all_params.append("_request_timeout")

        params = locals()
        for key, val in six.iteritems(params["kwargs"]):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method put_users_user_id_mail_notifications_mail_notification_id"
                    % key
                )
            params[key] = val
        del params["kwargs"]
        # verify the required parameter 'user_id' is set
        if self.api_client.client_side_validation and (
            "user_id" not in params or params["user_id"] is None
        ):  # noqa: E501
            raise ValueError(
                "Missing the required parameter `user_id` when calling `put_users_user_id_mail_notifications_mail_notification_id`"
            )  # noqa: E501
        # verify the required parameter 'mail_notification_id' is set
        if self.api_client.client_side_validation and (
            "mail_notification_id" not in params
            or params["mail_notification_id"] is None
        ):  # noqa: E501
            raise ValueError(
                "Missing the required parameter `mail_notification_id` when calling `put_users_user_id_mail_notifications_mail_notification_id`"
            )  # noqa: E501

        collection_formats = {}

        path_params = {}
        if "user_id" in params:
            path_params["user_id"] = params["user_id"]  # noqa: E501
        if "mail_notification_id" in params:
            path_params["mail_notification_id"] = params[
                "mail_notification_id"
            ]  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}
        if "location_id" in params:
            form_params.append(("location_id", params["location_id"]))  # noqa: E501
        if "organization_id" in params:
            form_params.append(
                ("organization_id", params["organization_id"])
            )  # noqa: E501
        if "interval" in params:
            form_params.append(("interval", params["interval"]))  # noqa: E501
        if "subscription" in params:
            form_params.append(("subscription", params["subscription"]))  # noqa: E501
        if "mail_query" in params:
            form_params.append(("mail_query", params["mail_query"]))  # noqa: E501

        body_params = None
        # HTTP header `Content-Type`
        header_params[
            "Content-Type"
        ] = self.api_client.select_header_content_type(  # noqa: E501
            ["application/x-www-form-urlencoded", "multipart/form-data"]
        )  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            "/users/{user_id}/mail_notifications/{mail_notification_id}",
            "PUT",
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get("async_req"),
            _return_http_data_only=params.get("_return_http_data_only"),
            _preload_content=params.get("_preload_content", True),
            _request_timeout=params.get("_request_timeout"),
            collection_formats=collection_formats,
        )
