# coding: utf-8

"""
    Foreman (params in:formData)

     <p>Foreman API v2 is currently the default API version.</p>   # noqa: E501

    OpenAPI spec version: v2

    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from pyforeman.api_client import ApiClient


class SmartProxyHostsApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def delete_smart_proxies_smart_proxy_id_hosts_host_id(
        self, smart_proxy_id, host_id, **kwargs
    ):  # noqa: E501
        """Unassign a given host from the smart proxy  # noqa: E501

          # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_smart_proxies_smart_proxy_id_hosts_host_id(smart_proxy_id, host_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param float smart_proxy_id: (required)
        :param float host_id: (required)
        :param float location_id: Set the current location context for the request
        :param float organization_id: Set the current organization context for the request
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs["_return_http_data_only"] = True
        if kwargs.get("async_req"):
            return (
                self.delete_smart_proxies_smart_proxy_id_hosts_host_id_with_http_info(
                    smart_proxy_id, host_id, **kwargs
                )
            )  # noqa: E501
        else:
            (
                data
            ) = self.delete_smart_proxies_smart_proxy_id_hosts_host_id_with_http_info(
                smart_proxy_id, host_id, **kwargs
            )  # noqa: E501
            return data

    def delete_smart_proxies_smart_proxy_id_hosts_host_id_with_http_info(
        self, smart_proxy_id, host_id, **kwargs
    ):  # noqa: E501
        """Unassign a given host from the smart proxy  # noqa: E501

          # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_smart_proxies_smart_proxy_id_hosts_host_id_with_http_info(smart_proxy_id, host_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param float smart_proxy_id: (required)
        :param float host_id: (required)
        :param float location_id: Set the current location context for the request
        :param float organization_id: Set the current organization context for the request
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = [
            "smart_proxy_id",
            "host_id",
            "location_id",
            "organization_id",
        ]  # noqa: E501
        all_params.append("async_req")
        all_params.append("_return_http_data_only")
        all_params.append("_preload_content")
        all_params.append("_request_timeout")

        params = locals()
        for key, val in six.iteritems(params["kwargs"]):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_smart_proxies_smart_proxy_id_hosts_host_id" % key
                )
            params[key] = val
        del params["kwargs"]
        # verify the required parameter 'smart_proxy_id' is set
        if self.api_client.client_side_validation and (
            "smart_proxy_id" not in params or params["smart_proxy_id"] is None
        ):  # noqa: E501
            raise ValueError(
                "Missing the required parameter `smart_proxy_id` when calling `delete_smart_proxies_smart_proxy_id_hosts_host_id`"
            )  # noqa: E501
        # verify the required parameter 'host_id' is set
        if self.api_client.client_side_validation and (
            "host_id" not in params or params["host_id"] is None
        ):  # noqa: E501
            raise ValueError(
                "Missing the required parameter `host_id` when calling `delete_smart_proxies_smart_proxy_id_hosts_host_id`"
            )  # noqa: E501

        collection_formats = {}

        path_params = {}
        if "smart_proxy_id" in params:
            path_params["smart_proxy_id"] = params["smart_proxy_id"]  # noqa: E501
        if "host_id" in params:
            path_params["host_id"] = params["host_id"]  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}
        if "location_id" in params:
            form_params.append(("location_id", params["location_id"]))  # noqa: E501
        if "organization_id" in params:
            form_params.append(
                ("organization_id", params["organization_id"])
            )  # noqa: E501

        body_params = None
        # HTTP header `Content-Type`
        header_params[
            "Content-Type"
        ] = self.api_client.select_header_content_type(  # noqa: E501
            ["application/x-www-form-urlencoded", "multipart/form-data"]
        )  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            "/smart_proxies/{smart_proxy_id}/hosts/{host_id}",
            "DELETE",
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get("async_req"),
            _return_http_data_only=params.get("_return_http_data_only"),
            _preload_content=params.get("_preload_content", True),
            _request_timeout=params.get("_request_timeout"),
            collection_formats=collection_formats,
        )

    def get_smart_proxies_smart_proxy_id_hosts(
        self, smart_proxy_id, **kwargs
    ):  # noqa: E501
        """Get hosts forming the smart proxy  # noqa: E501

          # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_smart_proxies_smart_proxy_id_hosts(smart_proxy_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param float smart_proxy_id: (required)
        :param float location_id: Set the current location context for the request
        :param float organization_id: Set the current organization context for the request
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs["_return_http_data_only"] = True
        if kwargs.get("async_req"):
            return self.get_smart_proxies_smart_proxy_id_hosts_with_http_info(
                smart_proxy_id, **kwargs
            )  # noqa: E501
        else:
            (data) = self.get_smart_proxies_smart_proxy_id_hosts_with_http_info(
                smart_proxy_id, **kwargs
            )  # noqa: E501
            return data

    def get_smart_proxies_smart_proxy_id_hosts_with_http_info(
        self, smart_proxy_id, **kwargs
    ):  # noqa: E501
        """Get hosts forming the smart proxy  # noqa: E501

          # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_smart_proxies_smart_proxy_id_hosts_with_http_info(smart_proxy_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param float smart_proxy_id: (required)
        :param float location_id: Set the current location context for the request
        :param float organization_id: Set the current organization context for the request
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ["smart_proxy_id", "location_id", "organization_id"]  # noqa: E501
        all_params.append("async_req")
        all_params.append("_return_http_data_only")
        all_params.append("_preload_content")
        all_params.append("_request_timeout")

        params = locals()
        for key, val in six.iteritems(params["kwargs"]):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_smart_proxies_smart_proxy_id_hosts" % key
                )
            params[key] = val
        del params["kwargs"]
        # verify the required parameter 'smart_proxy_id' is set
        if self.api_client.client_side_validation and (
            "smart_proxy_id" not in params or params["smart_proxy_id"] is None
        ):  # noqa: E501
            raise ValueError(
                "Missing the required parameter `smart_proxy_id` when calling `get_smart_proxies_smart_proxy_id_hosts`"
            )  # noqa: E501

        collection_formats = {}

        path_params = {}
        if "smart_proxy_id" in params:
            path_params["smart_proxy_id"] = params["smart_proxy_id"]  # noqa: E501

        query_params = []
        if "location_id" in params:
            query_params.append(("location_id", params["location_id"]))  # noqa: E501
        if "organization_id" in params:
            query_params.append(
                ("organization_id", params["organization_id"])
            )  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Content-Type`
        header_params[
            "Content-Type"
        ] = self.api_client.select_header_content_type(  # noqa: E501
            ["application/x-www-form-urlencoded", "multipart/form-data"]
        )  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            "/smart_proxies/{smart_proxy_id}/hosts",
            "GET",
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get("async_req"),
            _return_http_data_only=params.get("_return_http_data_only"),
            _preload_content=params.get("_preload_content", True),
            _request_timeout=params.get("_request_timeout"),
            collection_formats=collection_formats,
        )

    def put_smart_proxies_smart_proxy_id_hosts_host_id(
        self, smart_proxy_id, host_id, **kwargs
    ):  # noqa: E501
        """Assign a host to the smart proxy  # noqa: E501

          # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.put_smart_proxies_smart_proxy_id_hosts_host_id(smart_proxy_id, host_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str smart_proxy_id: (required)
        :param str host_id: (required)
        :param float location_id: Set the current location context for the request
        :param float organization_id: Set the current organization context for the request
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs["_return_http_data_only"] = True
        if kwargs.get("async_req"):
            return self.put_smart_proxies_smart_proxy_id_hosts_host_id_with_http_info(
                smart_proxy_id, host_id, **kwargs
            )  # noqa: E501
        else:
            (data) = self.put_smart_proxies_smart_proxy_id_hosts_host_id_with_http_info(
                smart_proxy_id, host_id, **kwargs
            )  # noqa: E501
            return data

    def put_smart_proxies_smart_proxy_id_hosts_host_id_with_http_info(
        self, smart_proxy_id, host_id, **kwargs
    ):  # noqa: E501
        """Assign a host to the smart proxy  # noqa: E501

          # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.put_smart_proxies_smart_proxy_id_hosts_host_id_with_http_info(smart_proxy_id, host_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str smart_proxy_id: (required)
        :param str host_id: (required)
        :param float location_id: Set the current location context for the request
        :param float organization_id: Set the current organization context for the request
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = [
            "smart_proxy_id",
            "host_id",
            "location_id",
            "organization_id",
        ]  # noqa: E501
        all_params.append("async_req")
        all_params.append("_return_http_data_only")
        all_params.append("_preload_content")
        all_params.append("_request_timeout")

        params = locals()
        for key, val in six.iteritems(params["kwargs"]):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method put_smart_proxies_smart_proxy_id_hosts_host_id" % key
                )
            params[key] = val
        del params["kwargs"]
        # verify the required parameter 'smart_proxy_id' is set
        if self.api_client.client_side_validation and (
            "smart_proxy_id" not in params or params["smart_proxy_id"] is None
        ):  # noqa: E501
            raise ValueError(
                "Missing the required parameter `smart_proxy_id` when calling `put_smart_proxies_smart_proxy_id_hosts_host_id`"
            )  # noqa: E501
        # verify the required parameter 'host_id' is set
        if self.api_client.client_side_validation and (
            "host_id" not in params or params["host_id"] is None
        ):  # noqa: E501
            raise ValueError(
                "Missing the required parameter `host_id` when calling `put_smart_proxies_smart_proxy_id_hosts_host_id`"
            )  # noqa: E501

        collection_formats = {}

        path_params = {}
        if "smart_proxy_id" in params:
            path_params["smart_proxy_id"] = params["smart_proxy_id"]  # noqa: E501
        if "host_id" in params:
            path_params["host_id"] = params["host_id"]  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}
        if "location_id" in params:
            form_params.append(("location_id", params["location_id"]))  # noqa: E501
        if "organization_id" in params:
            form_params.append(
                ("organization_id", params["organization_id"])
            )  # noqa: E501

        body_params = None
        # HTTP header `Content-Type`
        header_params[
            "Content-Type"
        ] = self.api_client.select_header_content_type(  # noqa: E501
            ["application/x-www-form-urlencoded", "multipart/form-data"]
        )  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            "/smart_proxies/{smart_proxy_id}/hosts/{host_id}",
            "PUT",
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get("async_req"),
            _return_http_data_only=params.get("_return_http_data_only"),
            _preload_content=params.get("_preload_content", True),
            _request_timeout=params.get("_request_timeout"),
            collection_formats=collection_formats,
        )
