# coding: utf-8

"""
    Foreman (params in:formData)

     <p>Foreman API v2 is currently the default API version.</p>   # noqa: E501

    OpenAPI spec version: v2

    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from pyforeman.api_client import ApiClient


class TablePreferencesApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def delete_users_user_id_table_preferences_name(
        self, user_id, name, **kwargs
    ):  # noqa: E501
        """Delete a table preference for a given table  # noqa: E501

          # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_users_user_id_table_preferences_name(user_id, name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str user_id: ID of the user (required)
        :param str name: Name of the table (required)
        :param float location_id: Set the current location context for the request
        :param float organization_id: Set the current organization context for the request
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs["_return_http_data_only"] = True
        if kwargs.get("async_req"):
            return self.delete_users_user_id_table_preferences_name_with_http_info(
                user_id, name, **kwargs
            )  # noqa: E501
        else:
            (data) = self.delete_users_user_id_table_preferences_name_with_http_info(
                user_id, name, **kwargs
            )  # noqa: E501
            return data

    def delete_users_user_id_table_preferences_name_with_http_info(
        self, user_id, name, **kwargs
    ):  # noqa: E501
        """Delete a table preference for a given table  # noqa: E501

          # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_users_user_id_table_preferences_name_with_http_info(user_id, name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str user_id: ID of the user (required)
        :param str name: Name of the table (required)
        :param float location_id: Set the current location context for the request
        :param float organization_id: Set the current organization context for the request
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ["user_id", "name", "location_id", "organization_id"]  # noqa: E501
        all_params.append("async_req")
        all_params.append("_return_http_data_only")
        all_params.append("_preload_content")
        all_params.append("_request_timeout")

        params = locals()
        for key, val in six.iteritems(params["kwargs"]):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_users_user_id_table_preferences_name" % key
                )
            params[key] = val
        del params["kwargs"]
        # verify the required parameter 'user_id' is set
        if self.api_client.client_side_validation and (
            "user_id" not in params or params["user_id"] is None
        ):  # noqa: E501
            raise ValueError(
                "Missing the required parameter `user_id` when calling `delete_users_user_id_table_preferences_name`"
            )  # noqa: E501
        # verify the required parameter 'name' is set
        if self.api_client.client_side_validation and (
            "name" not in params or params["name"] is None
        ):  # noqa: E501
            raise ValueError(
                "Missing the required parameter `name` when calling `delete_users_user_id_table_preferences_name`"
            )  # noqa: E501

        collection_formats = {}

        path_params = {}
        if "user_id" in params:
            path_params["user_id"] = params["user_id"]  # noqa: E501
        if "name" in params:
            path_params["name"] = params["name"]  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}
        if "location_id" in params:
            form_params.append(("location_id", params["location_id"]))  # noqa: E501
        if "organization_id" in params:
            form_params.append(
                ("organization_id", params["organization_id"])
            )  # noqa: E501

        body_params = None
        # HTTP header `Content-Type`
        header_params[
            "Content-Type"
        ] = self.api_client.select_header_content_type(  # noqa: E501
            ["application/x-www-form-urlencoded", "multipart/form-data"]
        )  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            "/users/{user_id}/table_preferences/{name}",
            "DELETE",
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get("async_req"),
            _return_http_data_only=params.get("_return_http_data_only"),
            _preload_content=params.get("_preload_content", True),
            _request_timeout=params.get("_request_timeout"),
            collection_formats=collection_formats,
        )

    def get_users_user_id_table_preferences(self, user_id, **kwargs):  # noqa: E501
        """List of table preferences for a user  # noqa: E501

          # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_users_user_id_table_preferences(user_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str user_id: ID of the user (required)
        :param float location_id: Set the current location context for the request
        :param float organization_id: Set the current organization context for the request
        :param str search: filter results
        :param str order: Sort and order by a searchable field, e.g. '<field> DESC'
        :param float page: Page number, starting at 1
        :param str per_page: Number of results per page to return, 'all' to return all results
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs["_return_http_data_only"] = True
        if kwargs.get("async_req"):
            return self.get_users_user_id_table_preferences_with_http_info(
                user_id, **kwargs
            )  # noqa: E501
        else:
            (data) = self.get_users_user_id_table_preferences_with_http_info(
                user_id, **kwargs
            )  # noqa: E501
            return data

    def get_users_user_id_table_preferences_with_http_info(
        self, user_id, **kwargs
    ):  # noqa: E501
        """List of table preferences for a user  # noqa: E501

          # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_users_user_id_table_preferences_with_http_info(user_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str user_id: ID of the user (required)
        :param float location_id: Set the current location context for the request
        :param float organization_id: Set the current organization context for the request
        :param str search: filter results
        :param str order: Sort and order by a searchable field, e.g. '<field> DESC'
        :param float page: Page number, starting at 1
        :param str per_page: Number of results per page to return, 'all' to return all results
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = [
            "user_id",
            "location_id",
            "organization_id",
            "search",
            "order",
            "page",
            "per_page",
        ]  # noqa: E501
        all_params.append("async_req")
        all_params.append("_return_http_data_only")
        all_params.append("_preload_content")
        all_params.append("_request_timeout")

        params = locals()
        for key, val in six.iteritems(params["kwargs"]):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_users_user_id_table_preferences" % key
                )
            params[key] = val
        del params["kwargs"]
        # verify the required parameter 'user_id' is set
        if self.api_client.client_side_validation and (
            "user_id" not in params or params["user_id"] is None
        ):  # noqa: E501
            raise ValueError(
                "Missing the required parameter `user_id` when calling `get_users_user_id_table_preferences`"
            )  # noqa: E501

        collection_formats = {}

        path_params = {}
        if "user_id" in params:
            path_params["user_id"] = params["user_id"]  # noqa: E501

        query_params = []
        if "location_id" in params:
            query_params.append(("location_id", params["location_id"]))  # noqa: E501
        if "organization_id" in params:
            query_params.append(
                ("organization_id", params["organization_id"])
            )  # noqa: E501
        if "search" in params:
            query_params.append(("search", params["search"]))  # noqa: E501
        if "order" in params:
            query_params.append(("order", params["order"]))  # noqa: E501
        if "page" in params:
            query_params.append(("page", params["page"]))  # noqa: E501
        if "per_page" in params:
            query_params.append(("per_page", params["per_page"]))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Content-Type`
        header_params[
            "Content-Type"
        ] = self.api_client.select_header_content_type(  # noqa: E501
            ["application/x-www-form-urlencoded", "multipart/form-data"]
        )  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            "/users/{user_id}/table_preferences",
            "GET",
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get("async_req"),
            _return_http_data_only=params.get("_return_http_data_only"),
            _preload_content=params.get("_preload_content", True),
            _request_timeout=params.get("_request_timeout"),
            collection_formats=collection_formats,
        )

    def get_users_user_id_table_preferences_name(
        self, user_id, name, **kwargs
    ):  # noqa: E501
        """Table preference details of a given table  # noqa: E501

          # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_users_user_id_table_preferences_name(user_id, name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str user_id: ID of the user (required)
        :param str name: Name of the table (required)
        :param float location_id: Set the current location context for the request
        :param float organization_id: Set the current organization context for the request
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs["_return_http_data_only"] = True
        if kwargs.get("async_req"):
            return self.get_users_user_id_table_preferences_name_with_http_info(
                user_id, name, **kwargs
            )  # noqa: E501
        else:
            (data) = self.get_users_user_id_table_preferences_name_with_http_info(
                user_id, name, **kwargs
            )  # noqa: E501
            return data

    def get_users_user_id_table_preferences_name_with_http_info(
        self, user_id, name, **kwargs
    ):  # noqa: E501
        """Table preference details of a given table  # noqa: E501

          # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_users_user_id_table_preferences_name_with_http_info(user_id, name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str user_id: ID of the user (required)
        :param str name: Name of the table (required)
        :param float location_id: Set the current location context for the request
        :param float organization_id: Set the current organization context for the request
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ["user_id", "name", "location_id", "organization_id"]  # noqa: E501
        all_params.append("async_req")
        all_params.append("_return_http_data_only")
        all_params.append("_preload_content")
        all_params.append("_request_timeout")

        params = locals()
        for key, val in six.iteritems(params["kwargs"]):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_users_user_id_table_preferences_name" % key
                )
            params[key] = val
        del params["kwargs"]
        # verify the required parameter 'user_id' is set
        if self.api_client.client_side_validation and (
            "user_id" not in params or params["user_id"] is None
        ):  # noqa: E501
            raise ValueError(
                "Missing the required parameter `user_id` when calling `get_users_user_id_table_preferences_name`"
            )  # noqa: E501
        # verify the required parameter 'name' is set
        if self.api_client.client_side_validation and (
            "name" not in params or params["name"] is None
        ):  # noqa: E501
            raise ValueError(
                "Missing the required parameter `name` when calling `get_users_user_id_table_preferences_name`"
            )  # noqa: E501

        collection_formats = {}

        path_params = {}
        if "user_id" in params:
            path_params["user_id"] = params["user_id"]  # noqa: E501
        if "name" in params:
            path_params["name"] = params["name"]  # noqa: E501

        query_params = []
        if "location_id" in params:
            query_params.append(("location_id", params["location_id"]))  # noqa: E501
        if "organization_id" in params:
            query_params.append(
                ("organization_id", params["organization_id"])
            )  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Content-Type`
        header_params[
            "Content-Type"
        ] = self.api_client.select_header_content_type(  # noqa: E501
            ["application/x-www-form-urlencoded", "multipart/form-data"]
        )  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            "/users/{user_id}/table_preferences/{name}",
            "GET",
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get("async_req"),
            _return_http_data_only=params.get("_return_http_data_only"),
            _preload_content=params.get("_preload_content", True),
            _request_timeout=params.get("_request_timeout"),
            collection_formats=collection_formats,
        )

    def post_users_user_id_table_preferences(
        self, user_id, name, columns, **kwargs
    ):  # noqa: E501
        """Creates a table preference for a given table  # noqa: E501

          # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.post_users_user_id_table_preferences(user_id, name, columns, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str user_id: ID of the user (required)
        :param str name: Name of the table (required)
        :param list[str] columns: List of user selected columns (required)
        :param float location_id: Set the current location context for the request
        :param float organization_id: Set the current organization context for the request
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs["_return_http_data_only"] = True
        if kwargs.get("async_req"):
            return self.post_users_user_id_table_preferences_with_http_info(
                user_id, name, columns, **kwargs
            )  # noqa: E501
        else:
            (data) = self.post_users_user_id_table_preferences_with_http_info(
                user_id, name, columns, **kwargs
            )  # noqa: E501
            return data

    def post_users_user_id_table_preferences_with_http_info(
        self, user_id, name, columns, **kwargs
    ):  # noqa: E501
        """Creates a table preference for a given table  # noqa: E501

          # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.post_users_user_id_table_preferences_with_http_info(user_id, name, columns, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str user_id: ID of the user (required)
        :param str name: Name of the table (required)
        :param list[str] columns: List of user selected columns (required)
        :param float location_id: Set the current location context for the request
        :param float organization_id: Set the current organization context for the request
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = [
            "user_id",
            "name",
            "columns",
            "location_id",
            "organization_id",
        ]  # noqa: E501
        all_params.append("async_req")
        all_params.append("_return_http_data_only")
        all_params.append("_preload_content")
        all_params.append("_request_timeout")

        params = locals()
        for key, val in six.iteritems(params["kwargs"]):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method post_users_user_id_table_preferences" % key
                )
            params[key] = val
        del params["kwargs"]
        # verify the required parameter 'user_id' is set
        if self.api_client.client_side_validation and (
            "user_id" not in params or params["user_id"] is None
        ):  # noqa: E501
            raise ValueError(
                "Missing the required parameter `user_id` when calling `post_users_user_id_table_preferences`"
            )  # noqa: E501
        # verify the required parameter 'name' is set
        if self.api_client.client_side_validation and (
            "name" not in params or params["name"] is None
        ):  # noqa: E501
            raise ValueError(
                "Missing the required parameter `name` when calling `post_users_user_id_table_preferences`"
            )  # noqa: E501
        # verify the required parameter 'columns' is set
        if self.api_client.client_side_validation and (
            "columns" not in params or params["columns"] is None
        ):  # noqa: E501
            raise ValueError(
                "Missing the required parameter `columns` when calling `post_users_user_id_table_preferences`"
            )  # noqa: E501

        collection_formats = {}

        path_params = {}
        if "user_id" in params:
            path_params["user_id"] = params["user_id"]  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}
        if "name" in params:
            form_params.append(("name", params["name"]))  # noqa: E501
        if "columns" in params:
            form_params.append(("columns", params["columns"]))  # noqa: E501
            collection_formats["columns"] = "csv"  # noqa: E501
        if "location_id" in params:
            form_params.append(("location_id", params["location_id"]))  # noqa: E501
        if "organization_id" in params:
            form_params.append(
                ("organization_id", params["organization_id"])
            )  # noqa: E501

        body_params = None
        # HTTP header `Content-Type`
        header_params[
            "Content-Type"
        ] = self.api_client.select_header_content_type(  # noqa: E501
            ["application/x-www-form-urlencoded", "multipart/form-data"]
        )  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            "/users/{user_id}/table_preferences",
            "POST",
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get("async_req"),
            _return_http_data_only=params.get("_return_http_data_only"),
            _preload_content=params.get("_preload_content", True),
            _request_timeout=params.get("_request_timeout"),
            collection_formats=collection_formats,
        )

    def put_users_user_id_table_preferences_name(
        self, user_id, name, columns, **kwargs
    ):  # noqa: E501
        """Updates a table preference for a given table  # noqa: E501

          # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.put_users_user_id_table_preferences_name(user_id, name, columns, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str user_id: ID of the user (required)
        :param str name: Name of the table (required)
        :param list[str] columns: List of user selected columns (required)
        :param float location_id: Set the current location context for the request
        :param float organization_id: Set the current organization context for the request
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs["_return_http_data_only"] = True
        if kwargs.get("async_req"):
            return self.put_users_user_id_table_preferences_name_with_http_info(
                user_id, name, columns, **kwargs
            )  # noqa: E501
        else:
            (data) = self.put_users_user_id_table_preferences_name_with_http_info(
                user_id, name, columns, **kwargs
            )  # noqa: E501
            return data

    def put_users_user_id_table_preferences_name_with_http_info(
        self, user_id, name, columns, **kwargs
    ):  # noqa: E501
        """Updates a table preference for a given table  # noqa: E501

          # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.put_users_user_id_table_preferences_name_with_http_info(user_id, name, columns, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str user_id: ID of the user (required)
        :param str name: Name of the table (required)
        :param list[str] columns: List of user selected columns (required)
        :param float location_id: Set the current location context for the request
        :param float organization_id: Set the current organization context for the request
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = [
            "user_id",
            "name",
            "columns",
            "location_id",
            "organization_id",
        ]  # noqa: E501
        all_params.append("async_req")
        all_params.append("_return_http_data_only")
        all_params.append("_preload_content")
        all_params.append("_request_timeout")

        params = locals()
        for key, val in six.iteritems(params["kwargs"]):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method put_users_user_id_table_preferences_name" % key
                )
            params[key] = val
        del params["kwargs"]
        # verify the required parameter 'user_id' is set
        if self.api_client.client_side_validation and (
            "user_id" not in params or params["user_id"] is None
        ):  # noqa: E501
            raise ValueError(
                "Missing the required parameter `user_id` when calling `put_users_user_id_table_preferences_name`"
            )  # noqa: E501
        # verify the required parameter 'name' is set
        if self.api_client.client_side_validation and (
            "name" not in params or params["name"] is None
        ):  # noqa: E501
            raise ValueError(
                "Missing the required parameter `name` when calling `put_users_user_id_table_preferences_name`"
            )  # noqa: E501
        # verify the required parameter 'columns' is set
        if self.api_client.client_side_validation and (
            "columns" not in params or params["columns"] is None
        ):  # noqa: E501
            raise ValueError(
                "Missing the required parameter `columns` when calling `put_users_user_id_table_preferences_name`"
            )  # noqa: E501

        collection_formats = {}

        path_params = {}
        if "user_id" in params:
            path_params["user_id"] = params["user_id"]  # noqa: E501
        if "name" in params:
            path_params["name"] = params["name"]  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}
        if "columns" in params:
            form_params.append(("columns", params["columns"]))  # noqa: E501
            collection_formats["columns"] = "csv"  # noqa: E501
        if "location_id" in params:
            form_params.append(("location_id", params["location_id"]))  # noqa: E501
        if "organization_id" in params:
            form_params.append(
                ("organization_id", params["organization_id"])
            )  # noqa: E501

        body_params = None
        # HTTP header `Content-Type`
        header_params[
            "Content-Type"
        ] = self.api_client.select_header_content_type(  # noqa: E501
            ["application/x-www-form-urlencoded", "multipart/form-data"]
        )  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            "/users/{user_id}/table_preferences/{name}",
            "PUT",
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get("async_req"),
            _return_http_data_only=params.get("_return_http_data_only"),
            _preload_content=params.get("_preload_content", True),
            _request_timeout=params.get("_request_timeout"),
            collection_formats=collection_formats,
        )
