# coding: utf-8

"""
    Foreman (params in:formData)

     <p>Foreman API v2 is currently the default API version.</p>   # noqa: E501

    OpenAPI spec version: v2

    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from pyforeman.api_client import ApiClient


class TemplateInputsApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def delete_templates_template_id_template_inputs_id(
        self, template_id, id, **kwargs
    ):  # noqa: E501
        """Delete a template input  # noqa: E501

          # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_templates_template_id_template_inputs_id(template_id, id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str template_id: (required)
        :param str id: (required)
        :param float location_id: Set the current location context for the request
        :param float organization_id: Set the current organization context for the request
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs["_return_http_data_only"] = True
        if kwargs.get("async_req"):
            return self.delete_templates_template_id_template_inputs_id_with_http_info(
                template_id, id, **kwargs
            )  # noqa: E501
        else:
            (
                data
            ) = self.delete_templates_template_id_template_inputs_id_with_http_info(
                template_id, id, **kwargs
            )  # noqa: E501
            return data

    def delete_templates_template_id_template_inputs_id_with_http_info(
        self, template_id, id, **kwargs
    ):  # noqa: E501
        """Delete a template input  # noqa: E501

          # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_templates_template_id_template_inputs_id_with_http_info(template_id, id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str template_id: (required)
        :param str id: (required)
        :param float location_id: Set the current location context for the request
        :param float organization_id: Set the current organization context for the request
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = [
            "template_id",
            "id",
            "location_id",
            "organization_id",
        ]  # noqa: E501
        all_params.append("async_req")
        all_params.append("_return_http_data_only")
        all_params.append("_preload_content")
        all_params.append("_request_timeout")

        params = locals()
        for key, val in six.iteritems(params["kwargs"]):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_templates_template_id_template_inputs_id" % key
                )
            params[key] = val
        del params["kwargs"]
        # verify the required parameter 'template_id' is set
        if self.api_client.client_side_validation and (
            "template_id" not in params or params["template_id"] is None
        ):  # noqa: E501
            raise ValueError(
                "Missing the required parameter `template_id` when calling `delete_templates_template_id_template_inputs_id`"
            )  # noqa: E501
        # verify the required parameter 'id' is set
        if self.api_client.client_side_validation and (
            "id" not in params or params["id"] is None
        ):  # noqa: E501
            raise ValueError(
                "Missing the required parameter `id` when calling `delete_templates_template_id_template_inputs_id`"
            )  # noqa: E501

        collection_formats = {}

        path_params = {}
        if "template_id" in params:
            path_params["template_id"] = params["template_id"]  # noqa: E501
        if "id" in params:
            path_params["id"] = params["id"]  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}
        if "location_id" in params:
            form_params.append(("location_id", params["location_id"]))  # noqa: E501
        if "organization_id" in params:
            form_params.append(
                ("organization_id", params["organization_id"])
            )  # noqa: E501

        body_params = None
        # HTTP header `Content-Type`
        header_params[
            "Content-Type"
        ] = self.api_client.select_header_content_type(  # noqa: E501
            ["application/x-www-form-urlencoded", "multipart/form-data"]
        )  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            "/templates/{template_id}/template_inputs/{id}",
            "DELETE",
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get("async_req"),
            _return_http_data_only=params.get("_return_http_data_only"),
            _preload_content=params.get("_preload_content", True),
            _request_timeout=params.get("_request_timeout"),
            collection_formats=collection_formats,
        )

    def get_templates_template_id_template_inputs(
        self, template_id, **kwargs
    ):  # noqa: E501
        """List template inputs  # noqa: E501

          # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_templates_template_id_template_inputs(template_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str template_id: (required)
        :param float location_id: Set the current location context for the request
        :param float organization_id: Set the current organization context for the request
        :param str search: filter results
        :param str order: Sort and order by a searchable field, e.g. '<field> DESC'
        :param float page: Page number, starting at 1
        :param str per_page: Number of results per page to return, 'all' to return all results
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs["_return_http_data_only"] = True
        if kwargs.get("async_req"):
            return self.get_templates_template_id_template_inputs_with_http_info(
                template_id, **kwargs
            )  # noqa: E501
        else:
            (data) = self.get_templates_template_id_template_inputs_with_http_info(
                template_id, **kwargs
            )  # noqa: E501
            return data

    def get_templates_template_id_template_inputs_with_http_info(
        self, template_id, **kwargs
    ):  # noqa: E501
        """List template inputs  # noqa: E501

          # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_templates_template_id_template_inputs_with_http_info(template_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str template_id: (required)
        :param float location_id: Set the current location context for the request
        :param float organization_id: Set the current organization context for the request
        :param str search: filter results
        :param str order: Sort and order by a searchable field, e.g. '<field> DESC'
        :param float page: Page number, starting at 1
        :param str per_page: Number of results per page to return, 'all' to return all results
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = [
            "template_id",
            "location_id",
            "organization_id",
            "search",
            "order",
            "page",
            "per_page",
        ]  # noqa: E501
        all_params.append("async_req")
        all_params.append("_return_http_data_only")
        all_params.append("_preload_content")
        all_params.append("_request_timeout")

        params = locals()
        for key, val in six.iteritems(params["kwargs"]):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_templates_template_id_template_inputs" % key
                )
            params[key] = val
        del params["kwargs"]
        # verify the required parameter 'template_id' is set
        if self.api_client.client_side_validation and (
            "template_id" not in params or params["template_id"] is None
        ):  # noqa: E501
            raise ValueError(
                "Missing the required parameter `template_id` when calling `get_templates_template_id_template_inputs`"
            )  # noqa: E501

        collection_formats = {}

        path_params = {}
        if "template_id" in params:
            path_params["template_id"] = params["template_id"]  # noqa: E501

        query_params = []
        if "location_id" in params:
            query_params.append(("location_id", params["location_id"]))  # noqa: E501
        if "organization_id" in params:
            query_params.append(
                ("organization_id", params["organization_id"])
            )  # noqa: E501
        if "search" in params:
            query_params.append(("search", params["search"]))  # noqa: E501
        if "order" in params:
            query_params.append(("order", params["order"]))  # noqa: E501
        if "page" in params:
            query_params.append(("page", params["page"]))  # noqa: E501
        if "per_page" in params:
            query_params.append(("per_page", params["per_page"]))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Content-Type`
        header_params[
            "Content-Type"
        ] = self.api_client.select_header_content_type(  # noqa: E501
            ["application/x-www-form-urlencoded", "multipart/form-data"]
        )  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            "/templates/{template_id}/template_inputs",
            "GET",
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get("async_req"),
            _return_http_data_only=params.get("_return_http_data_only"),
            _preload_content=params.get("_preload_content", True),
            _request_timeout=params.get("_request_timeout"),
            collection_formats=collection_formats,
        )

    def get_templates_template_id_template_inputs_id(
        self, template_id, id, **kwargs
    ):  # noqa: E501
        """Show template input details  # noqa: E501

          # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_templates_template_id_template_inputs_id(template_id, id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str template_id: (required)
        :param str id: (required)
        :param float location_id: Set the current location context for the request
        :param float organization_id: Set the current organization context for the request
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs["_return_http_data_only"] = True
        if kwargs.get("async_req"):
            return self.get_templates_template_id_template_inputs_id_with_http_info(
                template_id, id, **kwargs
            )  # noqa: E501
        else:
            (data) = self.get_templates_template_id_template_inputs_id_with_http_info(
                template_id, id, **kwargs
            )  # noqa: E501
            return data

    def get_templates_template_id_template_inputs_id_with_http_info(
        self, template_id, id, **kwargs
    ):  # noqa: E501
        """Show template input details  # noqa: E501

          # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_templates_template_id_template_inputs_id_with_http_info(template_id, id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str template_id: (required)
        :param str id: (required)
        :param float location_id: Set the current location context for the request
        :param float organization_id: Set the current organization context for the request
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = [
            "template_id",
            "id",
            "location_id",
            "organization_id",
        ]  # noqa: E501
        all_params.append("async_req")
        all_params.append("_return_http_data_only")
        all_params.append("_preload_content")
        all_params.append("_request_timeout")

        params = locals()
        for key, val in six.iteritems(params["kwargs"]):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_templates_template_id_template_inputs_id" % key
                )
            params[key] = val
        del params["kwargs"]
        # verify the required parameter 'template_id' is set
        if self.api_client.client_side_validation and (
            "template_id" not in params or params["template_id"] is None
        ):  # noqa: E501
            raise ValueError(
                "Missing the required parameter `template_id` when calling `get_templates_template_id_template_inputs_id`"
            )  # noqa: E501
        # verify the required parameter 'id' is set
        if self.api_client.client_side_validation and (
            "id" not in params or params["id"] is None
        ):  # noqa: E501
            raise ValueError(
                "Missing the required parameter `id` when calling `get_templates_template_id_template_inputs_id`"
            )  # noqa: E501

        collection_formats = {}

        path_params = {}
        if "template_id" in params:
            path_params["template_id"] = params["template_id"]  # noqa: E501
        if "id" in params:
            path_params["id"] = params["id"]  # noqa: E501

        query_params = []
        if "location_id" in params:
            query_params.append(("location_id", params["location_id"]))  # noqa: E501
        if "organization_id" in params:
            query_params.append(
                ("organization_id", params["organization_id"])
            )  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Content-Type`
        header_params[
            "Content-Type"
        ] = self.api_client.select_header_content_type(  # noqa: E501
            ["application/x-www-form-urlencoded", "multipart/form-data"]
        )  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            "/templates/{template_id}/template_inputs/{id}",
            "GET",
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get("async_req"),
            _return_http_data_only=params.get("_return_http_data_only"),
            _preload_content=params.get("_preload_content", True),
            _request_timeout=params.get("_request_timeout"),
            collection_formats=collection_formats,
        )

    def post_templates_template_id_template_inputs(
        self, template_id, template_input_name, template_input_input_type, **kwargs
    ):  # noqa: E501
        """Create a template input  # noqa: E501

          # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.post_templates_template_id_template_inputs(template_id, template_input_name, template_input_input_type, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str template_id: (required)
        :param str template_input_name: Input name (required)
        :param str template_input_input_type: Input type (required)
        :param float location_id: Set the current location context for the request
        :param float organization_id: Set the current organization context for the request
        :param str template_input_description: Input description
        :param bool template_input_required: Input is required
        :param bool template_input_advanced: Input is advanced
        :param str template_input_fact_name: Fact name, used when input type is Fact value
        :param str template_input_variable_name: Variable name, used when input type is Variable
        :param list[str] template_input_options: Selectable values for user inputs
        :param str template_input_default: Default value for user input
        :param bool template_input_hidden_value: The value contains sensitive information and shouldn not be normally visible, useful e.g. for passwords
        :param str template_input_value_type: Value type, defaults to plain
        :param str template_input_resource_type: For values of type search, this is the resource the value searches in
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs["_return_http_data_only"] = True
        if kwargs.get("async_req"):
            return self.post_templates_template_id_template_inputs_with_http_info(
                template_id, template_input_name, template_input_input_type, **kwargs
            )  # noqa: E501
        else:
            (data) = self.post_templates_template_id_template_inputs_with_http_info(
                template_id, template_input_name, template_input_input_type, **kwargs
            )  # noqa: E501
            return data

    def post_templates_template_id_template_inputs_with_http_info(
        self, template_id, template_input_name, template_input_input_type, **kwargs
    ):  # noqa: E501
        """Create a template input  # noqa: E501

          # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.post_templates_template_id_template_inputs_with_http_info(template_id, template_input_name, template_input_input_type, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str template_id: (required)
        :param str template_input_name: Input name (required)
        :param str template_input_input_type: Input type (required)
        :param float location_id: Set the current location context for the request
        :param float organization_id: Set the current organization context for the request
        :param str template_input_description: Input description
        :param bool template_input_required: Input is required
        :param bool template_input_advanced: Input is advanced
        :param str template_input_fact_name: Fact name, used when input type is Fact value
        :param str template_input_variable_name: Variable name, used when input type is Variable
        :param list[str] template_input_options: Selectable values for user inputs
        :param str template_input_default: Default value for user input
        :param bool template_input_hidden_value: The value contains sensitive information and shouldn not be normally visible, useful e.g. for passwords
        :param str template_input_value_type: Value type, defaults to plain
        :param str template_input_resource_type: For values of type search, this is the resource the value searches in
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = [
            "template_id",
            "template_input_name",
            "template_input_input_type",
            "location_id",
            "organization_id",
            "template_input_description",
            "template_input_required",
            "template_input_advanced",
            "template_input_fact_name",
            "template_input_variable_name",
            "template_input_options",
            "template_input_default",
            "template_input_hidden_value",
            "template_input_value_type",
            "template_input_resource_type",
        ]  # noqa: E501
        all_params.append("async_req")
        all_params.append("_return_http_data_only")
        all_params.append("_preload_content")
        all_params.append("_request_timeout")

        params = locals()
        for key, val in six.iteritems(params["kwargs"]):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method post_templates_template_id_template_inputs" % key
                )
            params[key] = val
        del params["kwargs"]
        # verify the required parameter 'template_id' is set
        if self.api_client.client_side_validation and (
            "template_id" not in params or params["template_id"] is None
        ):  # noqa: E501
            raise ValueError(
                "Missing the required parameter `template_id` when calling `post_templates_template_id_template_inputs`"
            )  # noqa: E501
        # verify the required parameter 'template_input_name' is set
        if self.api_client.client_side_validation and (
            "template_input_name" not in params or params["template_input_name"] is None
        ):  # noqa: E501
            raise ValueError(
                "Missing the required parameter `template_input_name` when calling `post_templates_template_id_template_inputs`"
            )  # noqa: E501
        # verify the required parameter 'template_input_input_type' is set
        if self.api_client.client_side_validation and (
            "template_input_input_type" not in params
            or params["template_input_input_type"] is None
        ):  # noqa: E501
            raise ValueError(
                "Missing the required parameter `template_input_input_type` when calling `post_templates_template_id_template_inputs`"
            )  # noqa: E501

        collection_formats = {}

        path_params = {}
        if "template_id" in params:
            path_params["template_id"] = params["template_id"]  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}
        if "template_input_name" in params:
            form_params.append(
                ("template_input[name]", params["template_input_name"])
            )  # noqa: E501
        if "template_input_input_type" in params:
            form_params.append(
                ("template_input[input_type]", params["template_input_input_type"])
            )  # noqa: E501
        if "location_id" in params:
            form_params.append(("location_id", params["location_id"]))  # noqa: E501
        if "organization_id" in params:
            form_params.append(
                ("organization_id", params["organization_id"])
            )  # noqa: E501
        if "template_input_description" in params:
            form_params.append(
                ("template_input[description]", params["template_input_description"])
            )  # noqa: E501
        if "template_input_required" in params:
            form_params.append(
                ("template_input[required]", params["template_input_required"])
            )  # noqa: E501
        if "template_input_advanced" in params:
            form_params.append(
                ("template_input[advanced]", params["template_input_advanced"])
            )  # noqa: E501
        if "template_input_fact_name" in params:
            form_params.append(
                ("template_input[fact_name]", params["template_input_fact_name"])
            )  # noqa: E501
        if "template_input_variable_name" in params:
            form_params.append(
                (
                    "template_input[variable_name]",
                    params["template_input_variable_name"],
                )
            )  # noqa: E501
        if "template_input_options" in params:
            form_params.append(
                ("template_input[options]", params["template_input_options"])
            )  # noqa: E501
            collection_formats["template_input[options]"] = "csv"  # noqa: E501
        if "template_input_default" in params:
            form_params.append(
                ("template_input[default]", params["template_input_default"])
            )  # noqa: E501
        if "template_input_hidden_value" in params:
            form_params.append(
                ("template_input[hidden_value]", params["template_input_hidden_value"])
            )  # noqa: E501
        if "template_input_value_type" in params:
            form_params.append(
                ("template_input[value_type]", params["template_input_value_type"])
            )  # noqa: E501
        if "template_input_resource_type" in params:
            form_params.append(
                (
                    "template_input[resource_type]",
                    params["template_input_resource_type"],
                )
            )  # noqa: E501

        body_params = None
        # HTTP header `Content-Type`
        header_params[
            "Content-Type"
        ] = self.api_client.select_header_content_type(  # noqa: E501
            ["application/x-www-form-urlencoded", "multipart/form-data"]
        )  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            "/templates/{template_id}/template_inputs",
            "POST",
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get("async_req"),
            _return_http_data_only=params.get("_return_http_data_only"),
            _preload_content=params.get("_preload_content", True),
            _request_timeout=params.get("_request_timeout"),
            collection_formats=collection_formats,
        )

    def put_templates_template_id_template_inputs_id(
        self, template_id, id, **kwargs
    ):  # noqa: E501
        """Update a template input  # noqa: E501

          # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.put_templates_template_id_template_inputs_id(template_id, id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str template_id: (required)
        :param str id: (required)
        :param float location_id: Set the current location context for the request
        :param float organization_id: Set the current organization context for the request
        :param str template_input_name: Input name
        :param str template_input_description: Input description
        :param bool template_input_required: Input is required
        :param bool template_input_advanced: Input is advanced
        :param str template_input_input_type: Input type
        :param str template_input_fact_name: Fact name, used when input type is Fact value
        :param str template_input_variable_name: Variable name, used when input type is Variable
        :param list[str] template_input_options: Selectable values for user inputs
        :param str template_input_default: Default value for user input
        :param bool template_input_hidden_value: The value contains sensitive information and shouldn not be normally visible, useful e.g. for passwords
        :param str template_input_value_type: Value type, defaults to plain
        :param str template_input_resource_type: For values of type search, this is the resource the value searches in
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs["_return_http_data_only"] = True
        if kwargs.get("async_req"):
            return self.put_templates_template_id_template_inputs_id_with_http_info(
                template_id, id, **kwargs
            )  # noqa: E501
        else:
            (data) = self.put_templates_template_id_template_inputs_id_with_http_info(
                template_id, id, **kwargs
            )  # noqa: E501
            return data

    def put_templates_template_id_template_inputs_id_with_http_info(
        self, template_id, id, **kwargs
    ):  # noqa: E501
        """Update a template input  # noqa: E501

          # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.put_templates_template_id_template_inputs_id_with_http_info(template_id, id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str template_id: (required)
        :param str id: (required)
        :param float location_id: Set the current location context for the request
        :param float organization_id: Set the current organization context for the request
        :param str template_input_name: Input name
        :param str template_input_description: Input description
        :param bool template_input_required: Input is required
        :param bool template_input_advanced: Input is advanced
        :param str template_input_input_type: Input type
        :param str template_input_fact_name: Fact name, used when input type is Fact value
        :param str template_input_variable_name: Variable name, used when input type is Variable
        :param list[str] template_input_options: Selectable values for user inputs
        :param str template_input_default: Default value for user input
        :param bool template_input_hidden_value: The value contains sensitive information and shouldn not be normally visible, useful e.g. for passwords
        :param str template_input_value_type: Value type, defaults to plain
        :param str template_input_resource_type: For values of type search, this is the resource the value searches in
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = [
            "template_id",
            "id",
            "location_id",
            "organization_id",
            "template_input_name",
            "template_input_description",
            "template_input_required",
            "template_input_advanced",
            "template_input_input_type",
            "template_input_fact_name",
            "template_input_variable_name",
            "template_input_options",
            "template_input_default",
            "template_input_hidden_value",
            "template_input_value_type",
            "template_input_resource_type",
        ]  # noqa: E501
        all_params.append("async_req")
        all_params.append("_return_http_data_only")
        all_params.append("_preload_content")
        all_params.append("_request_timeout")

        params = locals()
        for key, val in six.iteritems(params["kwargs"]):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method put_templates_template_id_template_inputs_id" % key
                )
            params[key] = val
        del params["kwargs"]
        # verify the required parameter 'template_id' is set
        if self.api_client.client_side_validation and (
            "template_id" not in params or params["template_id"] is None
        ):  # noqa: E501
            raise ValueError(
                "Missing the required parameter `template_id` when calling `put_templates_template_id_template_inputs_id`"
            )  # noqa: E501
        # verify the required parameter 'id' is set
        if self.api_client.client_side_validation and (
            "id" not in params or params["id"] is None
        ):  # noqa: E501
            raise ValueError(
                "Missing the required parameter `id` when calling `put_templates_template_id_template_inputs_id`"
            )  # noqa: E501

        collection_formats = {}

        path_params = {}
        if "template_id" in params:
            path_params["template_id"] = params["template_id"]  # noqa: E501
        if "id" in params:
            path_params["id"] = params["id"]  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}
        if "location_id" in params:
            form_params.append(("location_id", params["location_id"]))  # noqa: E501
        if "organization_id" in params:
            form_params.append(
                ("organization_id", params["organization_id"])
            )  # noqa: E501
        if "template_input_name" in params:
            form_params.append(
                ("template_input[name]", params["template_input_name"])
            )  # noqa: E501
        if "template_input_description" in params:
            form_params.append(
                ("template_input[description]", params["template_input_description"])
            )  # noqa: E501
        if "template_input_required" in params:
            form_params.append(
                ("template_input[required]", params["template_input_required"])
            )  # noqa: E501
        if "template_input_advanced" in params:
            form_params.append(
                ("template_input[advanced]", params["template_input_advanced"])
            )  # noqa: E501
        if "template_input_input_type" in params:
            form_params.append(
                ("template_input[input_type]", params["template_input_input_type"])
            )  # noqa: E501
        if "template_input_fact_name" in params:
            form_params.append(
                ("template_input[fact_name]", params["template_input_fact_name"])
            )  # noqa: E501
        if "template_input_variable_name" in params:
            form_params.append(
                (
                    "template_input[variable_name]",
                    params["template_input_variable_name"],
                )
            )  # noqa: E501
        if "template_input_options" in params:
            form_params.append(
                ("template_input[options]", params["template_input_options"])
            )  # noqa: E501
            collection_formats["template_input[options]"] = "csv"  # noqa: E501
        if "template_input_default" in params:
            form_params.append(
                ("template_input[default]", params["template_input_default"])
            )  # noqa: E501
        if "template_input_hidden_value" in params:
            form_params.append(
                ("template_input[hidden_value]", params["template_input_hidden_value"])
            )  # noqa: E501
        if "template_input_value_type" in params:
            form_params.append(
                ("template_input[value_type]", params["template_input_value_type"])
            )  # noqa: E501
        if "template_input_resource_type" in params:
            form_params.append(
                (
                    "template_input[resource_type]",
                    params["template_input_resource_type"],
                )
            )  # noqa: E501

        body_params = None
        # HTTP header `Content-Type`
        header_params[
            "Content-Type"
        ] = self.api_client.select_header_content_type(  # noqa: E501
            ["application/x-www-form-urlencoded", "multipart/form-data"]
        )  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            "/templates/{template_id}/template_inputs/{id}",
            "PUT",
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get("async_req"),
            _return_http_data_only=params.get("_return_http_data_only"),
            _preload_content=params.get("_preload_content", True),
            _request_timeout=params.get("_request_timeout"),
            collection_formats=collection_formats,
        )
